<%= render "shared/breadcrumb" %>
<div class="flex flex-wrap py-4 lg:px-4 bg-gray-50">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render "myaccount/myadmin_menu", activation: "blog_articles" %>
    <%= render "myaccount/myaccount_menu" %>
  </div>
  <div class="w-full lg:w-3/4 lg:p-4">
    <%= render "my_show" %>
  </div>
</div>
