<%# locals: (admin_activation: nil, account_activation: "dashboard", content: nil) %>
<%= render "shared/breadcrumb" %>
<div class="flex flex-wrap items-stretch lg:px-4 bg-gray-50">
  <div class="w-full lg:w-64 mr-4 lg:p-4">
    <%= render "myaccount/dashboard_sidebar", admin_activation: admin_activation, account_activation: account_activation %>
  </div>
  <div class="w-full lg:flex-1 lg:p-4">
    <%= content %>
  </div>
</div>
