<div class="bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-md text-sm font-medium">
  <a class="block no-underline p-3 px-6 rounded-t text-neutral-700 hover:text-neutral-700 hover:bg-gray-100" href="/myaccount/profile">Profile</a>
  <a class="block no-underline p-3 px-6 bg-primary text-white hover:text-white" href="/myaccount/password">Password</a>
  <a class="block no-underline p-3 px-6 text-neutral-700 hover:text-neutral-700 hover:bg-gray-100" href="/myaccount/sessions">Sessions</a>
  <a class="block no-underline p-3 px-6 text-neutral-700 hover:text-neutral-700 hover:bg-gray-100" href="/subscriptions">Billing</a>
  <a class="block no-underline p-3 px-6 text-neutral-700 hover:text-neutral-700 hover:bg-gray-100 dark:hover:" href="/subscriptions">Billing</a>
</div>
