<%# locals: (activation:) %>
<% default_css = "block no-underline p-3 px-6 text-neutral-700 hover:text-neutral-700 hover:bg-gray-100" %>
<% active_css = "block no-underline p-3 px-6 bg-primary text-white hover:text-white" %>
<div class="bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-md text-sm font-medium">
  <a class="<%= activation == "user" ? active_css : default_css %>" href="/myaccount/user">Users</a>
  <a class="<%= activation == "blog_article" ? active_css : default_css %>" href="/myaccount/blog_article">Blog articles</a>
</div>
