<%= render "shared/breadcrumb" %>
<div class="flex flex-wrap py-4 lg:px-4 bg-gray-50 h-screen">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render "myaccount_menu", activation: "profile" %>
  </div>
  <div class="w-full lg:w-3/4 lg:p-4">
    <%= render "myaccount_profile", user: user %>
  </div>
</div>