<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10">
  <div class="sm:flex items-center justify-between mb-8">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">Edit Role</h1>
  </div>
  <%= render "my_form", target_role: @role, target_url: myaccount_role_update_path(@role.name), target_method: :put, target_submit: "Update Role" %>
</div>