<div class="flex flex-col">
<p class="text-xs text-gray-900 dark:text-white">text-xs</p>
<p class="text-sm text-gray-900 dark:text-white">text-sm</p>
<p class="text-base text-gray-900 dark:text-white">text-base</p>
<p class="text-lg text-gray-900 dark:text-white">text-lg</p>
<p class="text-xl text-gray-900 dark:text-white">text-xl</p>
<p class="text-2xl text-gray-900 dark:text-white">text-2xl</p>
<p class="text-3xl text-gray-900 dark:text-white">text-3xl</p>
<p class="text-4xl text-gray-900 dark:text-white">text-4xl</p>
<p class="text-5xl text-gray-900 dark:text-white">text-5xl</p>
<p class="text-6xl text-gray-900 dark:text-white">text-6xl</p>
<p class="text-7xl text-gray-900 dark:text-white">text-7xl</p>
<p class="text-8xl text-gray-900 dark:text-white">text-8xl</p>
<p class="text-9xl text-gray-900 dark:text-white">text-9xl</p>
</div>
