<%= link_to root_path, class: "flex items-center gap-2" do %>
  <div class="">
    <img src="/img/koal_logo.svg" alt="logo" class="w-8 h-8"/>
  </div>
  <div class="text-neutral-700 font-semibold">
    Koal
  </div>
<% end %>
