<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10">
  <div class="sm:flex items-center justify-between mb-8">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">Create a new User</h1>
  </div>
  <div class="">
    <%= render "myaccount_users_form",
      target_user: @user,
      target_url: myaccount_user_create_path,
      target_method: :post,
      target_submit: "Create User" %>
  </div>
</div>